@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
  height: 100vh;
  box-sizing: border-box;

  font-family: "Montserrat", sans-serif;
}
hr {
  margin: 0px 10px;
}

/*HEADER START*/
header {
  background: rgb(195,125,93);
  background: linear-gradient(126deg, rgba(195,125,93,1) 0%, rgba(223,140,168,1) 52%, rgba(42,99,164,1) 87%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  color: white;
}
.main-navbar {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px 20px 0px;
  height: 60px;
}

.main-navbar [logo] {
  height: 60px;
  filter: invert();
}

/* menù a comparsa inizio*/
ul {
  text-align: right;
  margin: 0;
  list-style-type: none;
  padding: 0%;
}
a {
  color: rgb(255, 255, 255);
}
.main-navbar ul img {
  position: relative;
  top: 10px;
  filter: invert();
}

.main-navbar ul li ul {
  position: relative;
  top: 20px;
  backdrop-filter: blur(2px);
  visibility: hidden;
}

.main-navbar ul li:hover > ul,.main-navbar 
ul li ul:hover {
  visibility: visible;
}

.main-navbar ul li ul li:hover {
  padding: 4px;
  border-radius: 5px;
  background-color: rgba(223, 140, 168, 0.651);
  
}
/* menù a comparsa fine*/
.bubble {
  display: flex;
}
.photo-bubble {
  height: 150px;
  width: 40%;
  border-top-right-radius: 110px;
  border-bottom-right-radius: 110px;
  background-color:rgba(223, 140, 168, 0.288);
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  box-shadow: 3px 3px 3px #00000044
  ; 
  
}
.photo-box {
  background-image: url(./images/profile.jpg);
  background-position: center;
  background-size: cover;
  height: 150px;
  width: 150px;

  border-radius: 100%;
}

.bubble ul h2 {
  padding-right: 10px;
  font-weight: 350;
  text-align: right;
}
/*HEADER FINISH*/
